* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  /* Color styles */
  --pink: #d658b3;
  --green: #45b442;
  --white: #ffffff;
  --gray-100: #f4f1f2;
  --gray-200: #e9e7e9;
  --gray-300: #dfdcdf;
  --gray-400: #cecacd;
  --gray-500: #756c71;
  --gray-600: #4a4448;
  --gray-700: #332b31;

  /* Text-size styles */
  /* base size: body---text--md (16px) */
  --title--md: 1.5rem;
  --title--sm: 1.12rem;
  --subtitle--md: 0.88rem;
  --subtitle--sm: 0.75rem;
  --text--md: 1rem;
  --text--sm: 0.88rem;
  --text--xs: 0.75rem;

  --font-family: "Oxygen", system-ui;
}
html {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--text--md);
  line-height: 1.4;
  color: var(--gray-500);
}
body {
  background-color: var(--gray-200);
  padding-block: 2rem 1rem;
  padding-inline: 0.75rem;
}

@media (width > 600px) {
  body {
    padding-block: 4rem;
  }
}

.modal-hidden {
  display: none;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #0005;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-image {
  height: 15rem;
  animation: animateGift 1.2s ease;
}
.modal-message {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes animateGift {
  0%,
  100% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-45deg);
  }
  40% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(-45deg);
  }
  80% {
    transform: rotate(45deg);
  }
}
