#user {
  grid-area: A;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 10px;
  border: 2px solid transparent;
  background: linear-gradient(
      90deg,
      #2daa6e 0%,
      #2daaaa 33.33%,
      #856ccf 66.67%,
      #d658b3 100%
    )
    border-box;
  display: flex;

  & img {
    border-radius: 10px;
    border: solid 2px var(--gray-100);
    width: calc(3.5rem - 4px);
    height: calc(3.5rem - 4px);
    object-fit: cover;
  }
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: var(--title--sm);
  font-weight: bold;
  color: var(--gray-600);
}

.user-membership-date {
  font-size: var(--text--xs);
  color: var(--gray-500);
}
