#fidelity-card {
  grid-area: B;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.5rem 1.25rem 1.25rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.card-label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  span:first-child {
    font-size: var(--subtitle--sm);
    font-weight: bold;
    text-transform: uppercase;
  }

  span:last-child {
    font-size: var(--text--xs);
  }
}

.card-id {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8rem;
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 999px;
  background: var(--gray-300);
  font-size: var(--subtitle--sm);
  font-weight: bold;
}

.slots-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.slots-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.75rem;
  background: var(--gray-200);
  font-size: 1.5rem;

  img {
    width: 2.5rem;
    height: 2.5rem;
  }

  i {
    opacity: 0.35;
  }
}

@media (width > 600px) {
  #fidelity-card {
    padding: 2.25rem 2rem 2rem;
  }

  .card-id {
    height: 2rem;
    padding: 0.5rem 0.75rem;
  }

  .slots-container {
    gap: 1rem;
  }

  .slots-item {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 2.5rem;

    img {
      width: 4rem;
      height: 4rem;
    }
  }
}
